/*========= Font-Familes ===========*/
font-family: 'Audiowide', cursive;  /* for headings */
font-family: 'Exo 2', sans-serif;   /* for body text */

/*========= Base-Style ===========*/

h1{
  font-family: "Audiowide", cursive;
  color: #ABE490;
}

h2{
  font-family: "Exo 2", sans-serif;
  color: #D4D8D8;
}

.thatsAllFolks {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   background: #3A3A3A;
}

