/*========= Font-Familes ===========*/
font-family: 'Audiowide', cursive;  /* for headings */
font-family: 'Exo 2', sans-serif;   /* for body text */

/*========= Base-Style ===========*/



h1{
  font-family: "Audiowide", cursive;
  color:  #84c14f;
}

h2{
  font-family: "Exo 2", sans-serif;
  color: #D4D8D8;
}

.thatsAllFolks, {
   background: #3a3a3a;
   display: flex;
   justify-content: center;

  }

.sec {
  display: flex;
  background: #3a3a3a;
  justifty-content: center;
}
