



/*=========== Colors ===============*/
:root {
    --headerColor: #404649;
    --headerTextColor: #B6C649;
    --bodyTextColor: #C1C1C1;
    --secondaryHeadersAndLinkColor:  #CD5334;
    --mainBodyColor: #353A3C;
    --navBarLinkHover: #EEF5DB;
    

}

/*============= Font Families ==============
    font-family: 'Audiowide', cursive;  for headers 
    font-family: 'Exo 2', sans-serif;  for body text 
==========================================*/


/*============ Text ==================*/
h1 {
    font-family: 'Audiowide', cursive;
    font-size: 3em;
    color: var(--headerTextColor);
}
h2 {
    font-family: 'Exo 2', sans-serif;
    font-size: 2.5em;
    color: var(--secondaryHeadersAndLinkColor);
}
h3 {
    font-family: 'Audiowide', cursive;
    font-size: 1.25em;
    color: var(--secondaryHeadersAndLinkColor);
}
p {
    font-family: 'Exo 2', sans-serif;
    font-size: 1em;
    color: var(--bodyTextColor);
}



/*============== Basic Layout ==============*/

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: auto;
}

.introduction, .projects, .contactMe {
   text-align: center;

}
 
.mainHeader {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.introduction, .projects, .contactMe {
    padding: 5%;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
   
}


/*============== Project Cards ====================*/

.card {
    box-shadow: 0 4px 8px 0 rgba(122, 158, 159, 0.2);
    transition: 0.3s;
    width: 400px;
    height: 400px;
    padding: 2px 16px; 
    margin: 25px;
}

.card:hover {
    box-shadow: 4px 8px 16px 4px rgba(122, 158, 159, 0.2);
}



/*============= Background Colors for Page ============*/

body {
    background: var(--mainBodyColor);
    
}


header {
    background: var(--headerColor);
}
 


/*========== NavBar ===============*/

nav {
    background: var(--utilityColor2);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    }

 nav ul li {
    font-size: 1.25em;
    font-family: 'Exo 2', sans-serif;
    
 }

nav ul li a {
    color: var(--secondaryHeadersAndLinkColor);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--navBarLinkHover);
}

/*=============== Sticky NavBar =======*/



/*.sticky nav{
    position: fixed;
    z-index: 1;
    width: 100%;
   
} 


/*================ Form Styling =====================*/

.contactMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#contact {
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: space-between;
}

#contact input, textarea, button {
    margin: 3%
}

#contact button {
    width: 25%;
    align-self: center;
    text-align: center;
    width: 100px;
    font-family: 'Audiowide', cursive;
    font-size: 1.25em;
    color: var(--secondaryHeadersAndLinkColor);
    background-color: var(--navBarLinkHover);
    border: none;
}

/*#contact button:hover {
    box-shadow: 0px 8px 8px 0px rgba(205, 83, 52, 0.2);
}
*/

input, textarea {

    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input:focus {
    border: 3px solid #B6C649;
}

textarea:focus {
    border: 3px solid #B6C649;
}
